html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.header-text {
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

.header {
    background-color: #311B92;
    color: #D1C4E9;
    padding-left: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: rgb(0,0,0,0.5) 1px 1px 5px 1px, rgb(0,0,0,0.3) 1px 1px 5px 1px;
}

.main {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: #E3E4DB;
    align-items: start;
}

.form {
    text-align: center;
    margin-top: 100px;
    width: 50%;
    background-color: #CDCDCD;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgb(0,0,0,0.5) 1px 1px 5px 0px, rgb(0,0,0,0.2) 1px 1px 5px 1px;
}

.form-unit {
    display: flex;
    margin: 30px;
    justify-content: center;
}

label {
    width: 50%;
    text-align: left;
    font-weight: bold;
}

input, select {
    border: 1px solid #CDCDCD;
    border-radius: 5px;
}

input:focus, select:focus {
    outline: none;
    border: 1px solid #311B92;
}

input {
    padding: 3px;
    height: 25px;
    width: 49%;
}

select {
    width: 50%;
    height: 30px;
}

select:hover, option:hover {
    cursor: pointer;
}

.button {
    width: 50%;
    height: 50px;
    background-color: #311B92;
    color: #D1C4E9;
    border-radius: 25px;
    border: 1px solid #311B92;
    font-size: large;
}

.button:hover, .button:focus {
    background-color: #D1C4E9;
    color: #311B92;
    cursor: pointer;
}

.result {
    font-size: larger;
    background-color: white;
    margin: 0px 30px;
    border-radius: 5px;
}

.success {
    color: #1B5E20;
}

.working {
    color: #FFA000;
}

.error {
    color: #F44336;
}

@media only screen and (max-width: 720px) {
    .form {
        width: 70%;
    }
}

@media only screen and (max-width: 450px) {
    .form {
        width: 90%;
    }

    .form-unit {
        flex-direction: column;
    }

    label, input, select, .button {
        width: 100%;
    }
}