html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.header-text {
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

.header {
    background-color: #0D1321;
    color: #AFE0CE;
    padding-left: 20px;
}

.main {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: #E3E4DB;
    align-items: start;
}

.form {
    text-align: center;
    margin-top: 50px;
    width: 50%;
    background-color: #CDCDCD;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgb(0,0,0,0.5) 5px 5px 25px 5px;
}

.form-unit {
    display: flex;
    margin: 30px;
    justify-content: center;
}

label {
    width: 50%;
    text-align: left;
    font-weight: bold;
}

input, select {
    width: 50%;
    height: 30px;
    border: 1px solid #CDCDCD;
}

button {
    width: 50%;
    height: 30px;
    background-color: #0D1321;
    color: #AFE0CE;
    border-radius: 15px;
    border: 1px solid #0D1321;
    cursor: pointer;
}

button:hover {
    background-color: #CDCDCD;
    color: #0D1321;
}

@media only screen and (max-width: 720px) {
    .form {
        width: 70%;
    }
}

@media only screen and (max-width: 450px) {
    .form {
        width: 90%;
    }

    .form-unit {
        flex-direction: column;
    }

    label, input, select, button {
        width: 100%;
    }
}